@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@import "tailwindcss";

@theme {
  --color-color-1: #2b6303;
  --color-color-2: #224d02;
  --color-color-3: #FF776F;
  --color-color-4: #388004;
  --color-color-5: #858DFF;
  --color-color-6: #03112d;
  --color-stroke-1: #26242C;
  --color-n-1: #FFFFFF;
  --color-n-2: #CAC6DD;
  --color-n-3: #ADA8C3;
  --color-n-4: #757185;
  --color-n-5: #1c1d1c;
  --color-n-6: #252134;
  --color-n-7: #0B1901;
  --color-n-8: #1c1d1c;
  --color-n-9: #474060;
  --color-n-10: #43435C;
  --color-n-11: #1B1B2E;
  --color-n-12: #2E2A41;
  --color-n-13: #6C7275;
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  --letter-spacing-tagline: .15em;
  --spacing-0\.5: 0.0625rem;
  --spacing-7\.5: 1.875rem;
  --spacing-15: 3.75rem;
  --opacity-15: .15;
  --animate-duration-DEFAULT: 200ms;
  --animate-timing-function-DEFAULT: linear;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
  --border-width-DEFAULT: 0.0625rem;
}

@utility bg-radial-gradient {
  background-image: radial-gradient(var(--tw-gradient-stops));
}

@utility bg-conic-gradient {
  background-image: conic-gradient(from 225deg, #FFC876, #79FFF7, #9F53FF, #FF98E2, #FFC876);
}


@layer components {
  .container {
    @apply max-w-[77.5rem] mx-auto px-5 md:px-10 lg:px-15 xl:max-w-[87.5rem];
  }
  .h1 {
    @apply font-semibold text-[2.5rem] leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem];
  }
  .h2 {
    @apply text-[1.75rem] leading-[2.5rem] md:text-[2rem] md:leading-[2.5rem] lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem] xl:leading-tight;
  }
  .h3 {
    @apply text-[2rem] leading-normal md:text-[2.5rem];
  }
  .h4 {
    @apply text-[2rem] leading-normal;
  }
  .h5 {
    @apply text-2xl leading-normal;
  }
  .h6 {
    @apply font-semibold text-lg leading-8;
  }
  .body-1 {
    @apply text-[0.875rem] leading-[1.5rem] md:text-[1rem] md:leading-[1.75rem] lg:text-[1.25rem] lg:leading-8;
  }
  .body-2 {
    @apply font-light text-[0.875rem] leading-6 md:text-base;
  }
  .caption {
    @apply text-sm;
  }
  .tagline {
    @apply font-grotesk font-light text-xs  uppercase;
  }
  .quote {
    @apply font-code text-lg ;
  }
  .button {
    @apply font-code text-xs font-bold uppercase ;
  }
}


@layer utilities {
  .tap-highlight-color {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
} 

/* Hide scrollbar for all browsers */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, and Opera */
}
